<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
        <div class="form-group">
          <label for="username">UserName*</label>
          <input type="text"  id="username" formControlName="userName" class="form-control">
          <ng-container 
          *ngIf="
          signUpForm.controls['userName'].touched && 
          signUpForm.controls['userName'].invalid"
          >
            <p class="alert alert-danger" 
            *ngIf=
            "signUpForm.controls['userName'].hasError('required')">
              Username is a Mandatory Field.
            </p>
          </ng-container>
      
          <ng-container 
          *ngIf="signUpForm.controls['userName'].dirty && 
          signUpForm.controls['userName'].invalid"
          >
          <p class="alert alert-danger" *ngIf="signUpForm.controls['userName'].hasError('noSpaceError')">
            {{signUpForm.controls['userName'].errors?.['noSpaceError']}}
          </p>
            <p 
            class="alert alert-danger"
             *ngIf="signUpForm.controls['userName'].hasError('minlength')"
             >
              Minimum Length Should be
              {{signUpForm.controls['userName'].errors?.['minlength'].requiredLength}}
              and the actual length should be
              {{signUpForm.controls['userName'].errors?.['minlength'].actualLength}}
            </p>

            <p class="alert alert-danger"  *ngIf="signUpForm.controls['userName'].hasError('maxlength')">
              Maximum Length Should be 
              {{signUpForm.controls['userName'].errors?.['maxlength'].requiredLength}}
              and the actual length should be
              {{signUpForm.controls['userName'].errors?.['maxlength'].actualLength}}
            </p>
          </ng-container>

        </div>
        <div class="form-group">
          <label for="email">Email*</label>
          <input type="text" id="email" formControlName="email" class="form-control">
          <ng-container *ngIf="signUpForm.controls['email'].touched && 
          signUpForm.controls['email'].invalid">
            <p class="alert alert-danger" *ngIf="signUpForm.controls['email'].hasError('required')">
              Email is Mandatory Field
            </p>
          </ng-container>
          <ng-container  *ngIf="signUpForm.controls['email'].dirty && 
          signUpForm.controls['email'].invalid">

          <p 
          class="alert alert-danger"
           *ngIf="signUpForm.controls['email'].hasError('pattern')"
           >
         This is Invalid Email and pattern is
          {{signUpForm.controls['email'].errors?.['pattern'].requiredPattern}}
          and Yours Email pattern is
          {{signUpForm.controls['email'].errors?.['pattern'].actualValue}}
          </p>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="empId">Empoyee Id*</label>
          <input type="text" id="empId" required placeholder="E123" formControlName="empId" class="form-control">
          
          <ng-container *ngIf="f['empId'].touched && 
          f['empId'].invalid">
            <p class="alert alert-danger" *ngIf="f['empId'].hasError('required')">
              EmpId is Mandatory Field
            </p>
          </ng-container>
          <ng-container *ngIf="f['empId'].dirty && 
          f['empId'].invalid">
            <p class="alert alert-danger" *ngIf="f['empId'].hasError('invalidEmp')">
             {{f['empId'].errors?.['invalidEmp']}}
            </p>
          </ng-container>
        </div>
        
        <div class="form-group">
          <ng-container *ngFor="let gender of genderArray">
              <label [for]="gender" class="ml-2">
                <input type="radio" [value]="gender" [id]="gender" formControlName="gender">{{gender}}
              </label>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="password">Enter Your Password*</label>
          <input type="text" id="password" formControlName="password" class="form-control">
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Your Password*</label>
          <input type="text" id="confirmPassword" formControlName="confirmPassword" class="form-control">
        </div>

        <div class="row">
          <div class="col-md-6">
           <h3> Permanent Address</h3>
           <div formGroupName="permanantAddress">
            <select class="form-control"
             formControlName="countryName"
              >
              <option value="">Select Country</option>
              <option 
                *ngFor="let country of countrisArray"
                [value]="country.Country">
                {{country.Country}}
              </option>
            </select>
          </div>
        
            <div class="form-group">
              <label for="state">State</label>
              <input type="text" id="state" class="form-control">
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" id="city" class="form-control">
            </div>
            <div class="form-group">
              <label for="zipCode">zipCode</label>
              <input type="text" id="zipCode" class="form-control">
            </div>
            <div>
              <input type="checkbox">
              <small class="small" >
                Current Address is same as permanant Address
              </small>
            </div>
        </div>
          <div class="col-md-6">
            <h3 class="heading">Current Address</h3>
            <div formGroupName="permanantAddress">
              <select class="form-control"
               formControlName="countryName"
                >
                <option value="">Select Country</option>
                <option 
                  *ngFor="let country of countrisArray"
                  [value]="country.Country">
                  {{country.Country}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="state">State</label>
              <input type="text" id="state" class="form-control">
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" id="city" class="form-control">
            </div>
            <div class="form-group">
              <label for="zipCode">zipCode</label>
              <input type="text" id="zipCode" class="form-control">
            </div>
          </div>
        </div>
       
       <div class="text-right">
        <button mat-raised-button type="submit" color="primary"
        >Sign Up</button>
       </div>
      </form>
    </div>
    <!-- <div class="col-md-6">
      {{signUpForm.value | json}}
    </div> -->
  </div>
</div>