
.small {
    font-size: .875rem;
    font-weight: 400;
}

form{
    border: 1px solid #ccc;
    padding:25px;
    .form-control{
        border: none;
        border-bottom: 1px solid #111;
        border-radius: 0%;
        box-shadow: none;
    }
}